<%- include ('../../partials/header.ejs') %>
<%- include ('../../partials/navbar.ejs') %>
<body>

    <div class="container">
        <hr>
        <h2>Usuários</h2>
        <a class="btn btn-success" href="/admin/users/create">Criar novo usuário</a>
        <hr>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>E-mail</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach(users => { %>
                    <tr>
                        <th><%= users.id %></th>
                        <th><%= users.email %></th>
                        <th>
                            <a href="/admin/users/edit/<%= users.id %>" class="btn btn-warning">Editar</a>
                            <form method="POST" action="/users/delete" style="display: inline" onsubmit="confirmDelete(event, this)">
                                <input type="hidden" name="id" value="<%= users.id %>">
                                <button class="btn btn-danger">Deletar</button>
                            </form>
                        </th>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
    <script>
        function confirmDelete(event, form){
            event.preventDefault()
            let decision = confirm("Você quer deletar este usuário?")
            if(decision){
                form.submit()
            }
        }
    </script>
</body>
</html>